.iphone-11-pro{
    background: url('./iphone_11_pro_large.jpg'); 
    margin-top: 4.4rem;
}

.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}

.iphone-11-pro{
    border-top: none;
}

.title{
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

.cta{
    text-align: center;
}

.cta-link{
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
    cursor: pointer;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta-link:hover{
    border-bottom: 2px solid #66bbff;
}

@media screen and (max-width: 1068px){
    .iphone-11-pro{
        background: url('./iphone_11_pro_medium.jpg');
    }
    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .title-heading{
        font-size: 4.4rem;
    }
    .title-sub-heading{
        font-size: 2.4rem;
    }
    .cta-link:nth-child(2){
        margin-left: 2rem;
    }
}

@media screen and (max-width: 767px){
    .iphone-11-pro{
        margin-top: 4.8rem;
    }
    
}

@media screen and (max-width: 735px){
    .iphone-11-pro{
        background: url('./iphone_11_pro_small.jpg');
    }
    .title{
        padding: 3.7rem;
    }
    .title-heading{
        font-size: 3.2rem;
    }
    .title-sub-heading{
        font-size: 1.9rem;
    }
    .title-price{
        font-size: 1.4rem;
    }
    .cta{
        margin-top: .7rem;
    }
    .cta-link{
        font-size: 1.9rem;
    }
}