.iphone-11{
    background: url('./iphone_11_large.jpg');
}

.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}

.title-dark{
    color: #000;
}

.cta-link-darker{
    color: #0070c9;
}

.cta-link-darker:hover{
    border-bottom-color:#0070c9 ;
}

@media screen and (max-width: 1068px){
    .iphone-11{
        background: url('./iphone_11_medium.jpg');
    }
    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .title-heading{
        font-size: 4.4rem;
    }
    .title-sub-heading{
        font-size: 2.4rem;
    }
    .cta-link:nth-child(2){
        margin-left: 2rem;
    }
}

@media screen and (max-width: 735px){
    .iphone-11{
        background: url('./iphone_11_small.jpg');
    }
    .hero{
        height: 50rem;
        background-size: auto 54.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .title{
        padding: 3.7rem;
    }
    .title-heading{
        font-size: 3.2rem;
    }
    .title-sub-heading{
        font-size: 1.9rem;
    }
    .title-price{
        font-size: 1.4rem;
    }
    .cta{
        margin-top: .7rem;
    }
    .cta-link{
        font-size: 1.9rem;
    }
}