.watch{
    background: url('./watch_large.jpg');
}

.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}

.title-heading-watch{
    height: 7.8rem;
    background: url('./watch_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 7.8rem;
    margin-top: 1.6rem;
}

@media screen and (max-width: 1068px){
    .watch{
        background: url('./watch_medium.jpg');
    }
    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    .title-heading{
        font-size: 4.4rem;
    }
    .title-sub-heading{
        font-size: 2.4rem;
    }
    .cta-link:nth-child(2){
        margin-left: 2rem;
    }
    .title-heading-watch{
        height: 6.2rem;
        background: url('./watch_medium.jpg') center no-repeat;
        background-size: auto 6.2rem;
    }
}

